interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer MOCKED_TOKEN
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/me/tracks?limit=5&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/me/tracks?offset=0&limit=5","items":[{"added_at":"2025-12-28T17:59:49Z","track":{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/163tK9Wjr9P9DmM0AVK7lm"},"href":"https://api.spotify.com/v1/artists/163tK9Wjr9P9DmM0AVK7lm","id":"163tK9Wjr9P9DmM0AVK7lm","name":"Lorde","type":"artist","uri":"spotify:artist:163tK9Wjr9P9DmM0AVK7lm"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","RW","TG","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/2B87zXm9bOWvAJdkJBTpzF"},"href":"https://api.spotify.com/v1/albums/2B87zXm9bOWvAJdkJBTpzF","id":"2B87zXm9bOWvAJdkJBTpzF","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b273f8553e18a11209d4becd0336"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e02f8553e18a11209d4becd0336"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d00004851f8553e18a11209d4becd0336"}],"is_playable":true,"name":"Melodrama","release_date":"2017-06-16","release_date_precision":"day","total_tracks":11,"type":"album","uri":"spotify:album:2B87zXm9bOWvAJdkJBTpzF"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/163tK9Wjr9P9DmM0AVK7lm"},"href":"https://api.spotify.com/v1/artists/163tK9Wjr9P9DmM0AVK7lm","id":"163tK9Wjr9P9DmM0AVK7lm","name":"Lorde","type":"artist","uri":"spotify:artist:163tK9Wjr9P9DmM0AVK7lm"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","RW","TG","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":277506,"explicit":false,"external_ids":{"isrc":"NZUM71700072"},"external_urls":{"spotify":"https://open.spotify.com/track/6K8VQ84MqhsoakN5MjrnVR"},"href":"https://api.spotify.com/v1/tracks/6K8VQ84MqhsoakN5MjrnVR","id":"6K8VQ84MqhsoakN5MjrnVR","is_local":false,"is_playable":true,"name":"Supercut","popularity":78,"preview_url":null,"track_number":9,"type":"track","uri":"spotify:track:6K8VQ84MqhsoakN5MjrnVR"}},{"added_at":"2025-12-28T17:59:46Z","track":{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/5YGY8feqx7naU7z4HrwZM6"},"href":"https://api.spotify.com/v1/artists/5YGY8feqx7naU7z4HrwZM6","id":"5YGY8feqx7naU7z4HrwZM6","name":"Miley
        Cyrus","type":"artist","uri":"spotify:artist:5YGY8feqx7naU7z4HrwZM6"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR"[...]
