interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer MOCKED_TOKEN
        Content-Type:
          - application/json
      method: GET
      uri: https://api.spotify.com/v1/me/
    response:
      body:
        string: '{"country":"AR","display_name":"Matias","email":"matias@example.com","explicit_content":{"filter_enabled":false,"filter_locked":false},"external_urls":{"spotify":"https://open.spotify.com/user/123"},"followers":{"href":null,"total":10},"href":"https://api.spotify.com/v1/users/123","id":"123","images":[{"height":300,"url":"https://i.scdn.co/image/ab6775700000ee85212b903747034de3ed47fc41","width":300},{"height":64,"url":"https://i.scdn.co/image/ab67757000003b82212b903747034de3ed47fc41","width":64}],"product":"premium","type":"user","uri":"spotify:user:123"}'
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - '"MC-IjkzMDJlZGNmZTcwMmFhYWZmYjMyNDdhOWE5MjhiM2RjIg=="'
      status:
        code: 200
        message: OK
version: 1
