interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer MOCKED_TOKEN
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/?ids=3TVXtAsR1Inumwj472S9r4
  response:
    body:
      string: '{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3TVXtAsR1Inumwj472S9r4"},"followers":{"href":null,"total":105373671},"genres":["rap"],"href":"https://api.spotify.com/v1/artists/3TVXtAsR1Inumwj472S9r4","id":"3TVXtAsR1Inumwj472S9r4","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb4293385d324db8558179afd9","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051744293385d324db8558179afd9","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1784293385d324db8558179afd9","height":160,"width":160}],"name":"Drake","popularity":98,"type":"artist","uri":"spotify:artist:3TVXtAsR1Inumwj472S9r4"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijc3MjJmOTVhYzljMDI1ZmU1OTAzMzAyY2RiNzNiNDJiIg=="'
    status:
      code: 200
      message: OK
version: 1
