interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer MOCKED_TOKEN
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/me/tracks?limit=50&offset=0
  response:
    body:
      string: "{\"href\":\"https://api.spotify.com/v1/me/tracks?offset=0&limit=50\",\"items\":[{\"added_at\":\"2025-12-28T17:59:49Z\",\"track\":{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/163tK9Wjr9P9DmM0AVK7lm\"},\"href\":\"https://api.spotify.com/v1/artists/163tK9Wjr9P9DmM0AVK7lm\",\"id\":\"163tK9Wjr9P9DmM0AVK7lm\",\"name\":\"Lorde\",\"type\":\"artist\",\"uri\":\"spotify:artist:163tK9Wjr9P9DmM0AVK7lm\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"RW\",\"TG\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/2B87zXm9bOWvAJdkJBTpzF\"},\"href\":\"https://api.spotify.com/v1/albums/2B87zXm9bOWvAJdkJBTpzF\",\"id\":\"2B87zXm9bOWvAJdkJBTpzF\",\"images\":[{\"height\":640,\"width\":640,\"url\":\"https://i.scdn.co/image/ab67616d0000b273f8553e18a11209d4becd0336\"},{\"height\":300,\"width\":300,\"url\":\"https://i.scdn.co/image/ab67616d00001e02f8553e18a11209d4becd0336\"},{\"height\":64,\"width\":64,\"url\":\"https://i.scdn.co/image/ab67616d00004851f8553e18a11209d4becd0336\"}],\"is_playable\":true,\"name\":\"Melodrama\",\"release_date\":\"2017-06-16\",\"release_date_precision\":\"day\",\"total_tracks\":11,\"type\":\"album\",\"uri\":\"spotify:album:2B87zXm9bOWvAJdkJBTpzF\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/163tK9Wjr9P9DmM0AVK7lm\"},\"href\":\"https://api.spotify.com/v1/artists/163tK9Wjr9P9DmM0AVK7lm\",\"id\":\"163tK9Wjr9P9DmM0AVK7lm\",\"name\":\"Lorde\",\"type\":\"artist\",\"uri\":\"spotify:artist:163tK9Wjr9P9DmM0AVK7lm\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\"[...]
