interactions:
- request:
    body: null
    headers:
      application:
      - LyricsGenius
    method: GET
    uri: https://genius.com/api/search/multi?q=Blinding+Lights+The+Weeknd
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"sections\":[{\"type\":\"top_hit\",\"hits\":[{\"highlights\":[],\"index\":\"album\",\"type\":\"album\",\"result\":{\"_type\":\"album\",\"api_path\":\"/albums/817859\",\"cover_art_thumbnail_url\":\"https://images.genius.com/5f51359038e7b0696ac85487b36a529a.300x300x1.jpg\",\"cover_art_url\":\"https://images.genius.com/5f51359038e7b0696ac85487b36a529a.599x599x1.jpg\",\"full_title\":\"Heartless
        / Blinding Lights by The Weeknd\",\"id\":817859,\"name\":\"Heartless / Blinding
        Lights\",\"name_with_artist\":\"Heartless / Blinding Lights (artist: The Weeknd)\",\"primary_artist_names\":\"The
        Weeknd\",\"release_date_components\":{\"year\":2020,\"month\":3,\"day\":null},\"release_date_for_display\":\"March
        2020\",\"url\":\"https://genius.com/albums/The-weeknd/Heartless-blinding-lights\",\"artist\":{\"_type\":\"artist\",\"api_path\":\"/artists/2358\",\"header_image_url\":\"https://images.genius.com/4f53cc8d9d521bf6a1c5b37b8867ccef.1000x333x1.jpg\",\"id\":2358,\"image_url\":\"https://images.genius.com/e4e92d3a1d504ab2f38cd8da26c9fd2a.1000x1000x1.jpg\",\"index_character\":\"w\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"The
        Weeknd\",\"slug\":\"The-weeknd\",\"url\":\"https://genius.com/artists/The-weeknd\",\"iq\":17702},\"primary_artists\":[{\"_type\":\"artist\",\"api_path\":\"/artists/2358\",\"header_image_url\":\"https://images.genius.com/4f53cc8d9d521bf6a1c5b37b8867ccef.1000x333x1.jpg\",\"id\":2358,\"image_url\":\"https://images.genius.com/e4e92d3a1d504ab2f38cd8da26c9fd2a.1000x1000x1.jpg\",\"index_character\":\"w\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"The
        Weeknd\",\"slug\":\"The-weeknd\",\"url\":\"https://genius.com/artists/The-weeknd\",\"iq\":17702}]}},{\"highlights\":[],\"index\":\"album\",\"type[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer MOCKED_TOKEN
      application:
      - LyricsGenius
    method: GET
    uri: https://api.genius.com/songs/5049949?text_format=plain
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"song\":{\"annotation_count\":12,\"api_path\":\"/songs/5049949\",\"apple_music_id\":\"1505237345\",\"apple_music_player_url\":\"https://genius.com/songs/5049949/apple_music_player\",\"artist_names\":\"The
        Weeknd\",\"description\":{\"plain\":\"\u201CBlinding Lights\u201D serves as
        the second single for The Weeknd\u2019s fourth studio album, After Hours.
        It follows the record\u2019s lead single, \u201CHeartless,\u201D which was
        released two days prior.\\n\\nThe track finds Abel in a constant state of
        distraction that he only gets relief from when in the presence of a significant
        other, as he sings over an up-tempo electropop instrumental that features
        large \u201880s-inspired synths and[...]
- request:
    body: null
    headers:
      application:
      - LyricsGenius
    method: GET
    uri: https://genius.com/The-weeknd-blinding-lights-lyrics
  response:
    body:
      string: "<!doctype html>\n<html>\n  <head>\n    <meta itemprop=\"cf-country\"
        content=\"AR\">\n    <meta itemprop=\"long-tail-cache\" content=\"XX\">\n
        \   <meta itemprop=\"cf-cache-status\" content=\"HIT\">\n    <meta itemprop=\"rendered-with-cache\"
        content=\"false\">\n    <meta itemprop=\"cf-latitude\" content=\"-34.65072\">\n
        \   <meta itemprop=\"cf-longitude\" content=\"-59.43143\">\n\n    <title>The\_Weeknd
        \u2013 Blinding Lights Lyrics | Genius Lyrics</title>\n\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta content='width=device-width,initial-scale=1'
        name='viewport'>\n  <meta name=\"apple-itunes-app\" content=\"app-id=709482991\">\n<link
        href=\"https://assets.genius.com/images/apple-touch-icon.png?1766594224\"
        rel=\"apple-touch-icon\" />\n\n\n  <link href=\"https://assets.genius.com/images/apple-touch-icon.png?1766594224\"
        rel=\"apple-touch-icon\" />\n\n\n  <!-- Mobile IE allows us to activate ClearType
        technology for smoothing fonts for easy reading -->\n  <meta http-equiv=\"cleartype\"
        content=\"on\">\n\n\n\n<META name=\"y_key\" content=\"f63347d284f184b0\">\n\n<meta
        property=\"og:site_name\" content=\"Genius\"/>\n<meta property=\"fb:app_id\"
        content=\"265539304824\" />\n<meta property=\"fb:pages\" content=\"308252472676410\"
        />\n\n<meta name=\"format-detection\" content=\"telephone=no\">\n\n<link title=\"Genius\"
        type=\"application/opensearchdescription+xml\" rel=\"search\" href=\"https://genius.com/opensearch.xml\">\n\n
        \     <script>\n    (function() {\n      const urlParams = new URLSearchParams(window.location.search);\n
        \     const cfCountry = document.querySelector('meta[itemprop=\"cf-country\"]')?.content;\n
        \     const enablePermutive = urlParams.get('enablePermutive');\n\n      if
        (enablePermutive === 'false') return;\n      if (enablePermutive === null
        && cfCountry !== 'US') return;\n\n      !function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1[...]
