interactions:
- request:
    body: null
    headers:
      application:
      - LyricsGenius
    method: GET
    uri: https://genius.com/api/search/multi?q=Rich+Flex+Drake+%26+21+Savage
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"sections\":[{\"type\":\"top_hit\",\"hits\":[{\"highlights\":[],\"index\":\"song\",\"type\":\"song\",\"result\":{\"_type\":\"song\",\"annotation_count\":1,\"api_path\":\"/songs/8740715\",\"artist_names\":\"SQUALAY
        (YouTube)\",\"full_title\":\"RICH FLEX by DRAKE AND 21 SAVAGE but its just
        my voice by\_SQUALAY\_(YouTube)\",\"header_image_thumbnail_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"header_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"id\":8740715,\"instrumental\":false,\"lyrics_owner_id\":15254526,\"lyrics_state\":\"complete\",\"lyrics_updated_at\":1713564711,\"path\":\"/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-lyrics\",\"primary_artist_names\":\"SQUALAY
        (YouTube)\",\"pyongs_count\":2,\"relationships_index_url\":\"https://genius.com/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-sample\",\"release_date_components\":{\"year\":2022,\"month\":12,\"day\":6},\"release_date_for_display\":\"December
        6, 2022\",\"release_date_with_abbreviated_month_for_display\":\"Dec. 6, 2022\",\"song_art_image_thumbnail_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"song_art_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"stats\":{\"unreviewed_annotations\":0,\"hot\":false},\"title\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice\",\"title_with_featured\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice\",\"updated_by_human_at\":1713564704,\"url\":\"https://genius.com/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-lyrics\",\"featured_artists\":[],\"primary_artist\":{\"_type\":\"artist\",\"api_path\":\"/artists/3056290\",\"header_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"id\":3056290,\"image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"index_character\":\"s\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"SQUALAY
        (YouTube)\",\"slug\":\"Squalay-youtube\",\"url\":\"https://genius.com/artists/Squalay-youtube\"},\"primary_artists\":[{\"_type\":\"artist\",\"api_path\":\"/artists/3056290\",\"header_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"id\":3056290,\"image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"index_character\":\"s\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"SQUALAY
        (YouTube)\",\"slug\":\"Squalay-youtube\",\"url\":\"https://genius.com/artists/Squalay-youtube\"}]}},{\"highlights\":[{\"property\":\"lyrics\",\"value\":\"Because\\\"\\nDraft
        Day, Lil Yachty - \\\"How Far Will I Go\\\"\\nDrake, 21 Savage - \\\"Rich
        Flex\\\"\\nJack Harlow - \\\"First Class\\\"\\nJID\",\"snippet\":true,\"ranges\":[{\"start\":53,\"end\":58},{\"start\":60,\"end\":62},{\"start\":63,\"end\":69},{\"start\":73,\"end\":77},{\"start\":78,\"end\":82}]}],\"index\":\"lyric\",\"type\":\"song\",\"result\":{\"_type\":\"song\",\"annotation_count\":3,\"api_path\":\"/songs/7612186\",\"artist_names\":\"\u200Bpeaker\",\"full_title\":\"Peaker\u2019s
        Year-End Lists of 2022 by\_\u200Bpeaker\",\"header_image_thumbnail_url\":\"https://images.genius.com/945dce123c5cf31e7e16eeb61052c6c1.300x300x1.jpg\",\"header_image_url\":\"https://images.geni[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer MOCKED_TOKEN
      application:
      - LyricsGenius
    method: GET
    uri: https://api.genius.com/songs/8740715?text_format=plain
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"song\":{\"annotation_count\":1,\"api_path\":\"/songs/8740715\",\"apple_music_id\":null,\"apple_music_player_url\":\"https://genius.com/songs/8740715/apple_music_player\",\"artist_names\":\"SQUALAY
        (YouTube)\",\"description\":{\"plain\":\"?\"},\"embed_content\":\"<div id='rg_embed_link_8740715'
        class='rg_embed_link' data-song-id='8740715'>Read <a href='https://genius.com/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-lyrics'>\u201CRICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice\u201D by SQUALAY\_(YouTube)</a>
        on Genius</div> <script crossorigin src='//genius.com/songs/8740715/embed.js'></script>\",\"full_title\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice by\_SQUALAY\_(YouTube)\",\"header_image_thumbnail_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"header_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"id\":8740715,\"language\":\"en\",\"lyrics_owner_id\":15254526,\"lyrics_state\":\"complete\",\"path\":\"/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-lyrics\",\"primary_artist_names\":\"SQUALAY
        (YouTube)\",\"pyongs_count\":2,\"recording_location\":null,\"relationships_index_url\":\"https://genius.com/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-sample\",\"release_date\":\"2022-12-06\",\"release_date_for_display\":\"December
        6, 2022\",\"release_date_with_abbreviated_month_for_display\":\"Dec. 6, 2022\",\"song_art_image_thumbnail_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"song_art_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"stats\":{\"accepted_annotations\":1,\"contributors\":7,\"iq_earners\":7,\"transcribers\":2,\"unreviewed_annotations\":0,\"verified_annotations\":0,\"hot\":false},\"title\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice\",\"title_with_featured\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice\",\"url\":\"https://genius.com/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-lyrics\",\"current_user_metadata\":{\"permissions\":[\"view_apple_music_player\",\"view_recommendations\",\"view_relationships_page\",\"view_song_story_gallery\"],\"excluded_permissions\":[\"follow\",\"award_transcription_iq\",\"remove_transcription_iq\",\"see_pageviews\",\"pyong\",\"edit_lyrics\",\"view_annotation_engagement_data\",\"publish\",\"unpublish\",\"edit_spotify_details\",\"hide\",\"unhide\",\"add_pinned_annotation_to\",\"add_community_annotation_to\",\"destroy\",\"mark_as_not_spam\",\"edit_spotify_annotations_for\",\"verify_lyrics\",\"unverify_lyrics\",\"edit_anything\",\"edit_any_media\",\"edit\",\"rename\",\"edit_tags\",\"reindex\",\"view_lyrics_synchronization\",\"enable_media\",\"disable_media\",\"edit_lyrics_or_annotation_brackets\",\"see_editorial_indicators\",\"view_attribution_visualization\",\"edit_annotation_brackets\",\"preview_lyrics_for_export\",\"hide_apple_player\",\"unhide_apple_player\",\"trigger_apple_match\",\"mark_lyrics_evaluation_as_complete\",\"mark_lyrics_evaluation_as_staff_approved\",\"unmark_lyrics_evaluation_as_complete\",\"mark_lyrics_evaluation_as_un_staff_approved\",\"view_transcriber_media_player\",\"override_apple_match\",\"set_song_color_gradient\",\"mark_as_hot\",\"unmark_as_hot\",\"view_mark_complete_explanatory_tooltip\",\"edit_youtube_url\",\"edit_soundcloud_url\",\"edit_spotify_uuid\",\"edit_vevo_url\",\"create_comment\",\"moderate_annotations\",\"create_annotation\",\"see_short_id\",\"manage_chart_item\",\"create_tag\",\"propose_lyrics_edit\",\"view_lyrics_edit_proposals_on_song\",\"create_question\",\"answer_question_with_source\",\"create_additional_role\",\"add_qa\",\"pin_qa\"],\"interactions\":{\"pyong\":false,\"following\":false},\"relationships\":{},\"iq_by_action\":{}},\"song_art_primary_color\":\"#e9e9e9\",\"song_art_secondary_color\":\"#e9e9e9\",\"song_art_text_color\":\"#000000\",\"album\":null,\"custom_performances\":[],\"description_annotation\":{\"_type\":\"referent\",\"annotator_id\":17955726,\"annotator_login\":\"Reece\",\"api_path\":\"/referents/29824098\",\"classification\":\"needs_exegesis\",\"fragment\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice\",\"id\":29824098,\"is_description\":true,\"path\":\"/29824098/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice/Rich-flex-by-drake-and-21-savage-but-its-just-my-voice\",\"range\":{\"content\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice\"},\"song_id\":8740715,\"url\":\"https://genius.com/29824098/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice/Rich-flex-by-drake-and-21-savage-but-its-just-my-voice\",\"verified_annotator_ids\":[],\"annotatable\":{\"api_path\":\"/songs/8740715\",\"client_timestamps\":{\"updated_by_human_at\":1713564704,\"lyrics_updated_at\":1713564711},\"context\":\"SQUALAY
        (YouTube)\",\"id\":8740715,\"image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"link_title\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice by\_SQUALAY\_(YouTube)\",\"title\":\"RICH
        FLEX by DRAKE AND 21 SAVAGE but its just my voice\",\"type\":\"Song\",\"url\":\"https://genius.com/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-lyrics\"},\"annotations\":[{\"api_path\":\"/annotations/29824098\",\"body\":{\"plain\":\"\"},\"comment_count\":0,\"community\":true,\"custom_preview\":null,\"has_voters\":false,\"id\":29824098,\"pinned\":false,\"share_url\":\"https://genius.com/29824098\",\"source\":null,\"state\":\"needs_exegesis\",\"url\":\"https://genius.com/29824098/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice/Rich-flex-by-drake-and-21-savage-but-its-just-my-voice\",\"verified\":false,\"votes_total\":0,\"current_user_metadata\":{\"permissions\":[],\"excluded_permissions\":[\"vote\",\"edit\",\"cosign\",\"uncosign\",\"destroy\",\"accept\",\"reject\",\"see_unreviewed\",\"clear_votes\",\"propose_edit_to\",\"pin_to_profile\",\"unpin_from_profile\",\"update_source\",\"edit_custom_preview\",\"report_as_abusive\",\"create_comment\"],\"interactions\":{\"cosign\":false,\"pyong\":false,\"vote\":null},\"iq_by_action\":{}},\"authors\":[{\"attribution\":1.0,\"pinned_role\":null,\"user\":{\"api_path\":\"/users/17955726\",\"avatar\":{\"tiny\":{\"url\":\"https://images.genius.com/avatars/tiny/f2506af1d94e2100870fd2ce95a5a5fa\",\"bounding_box\":{\"width\":16,\"height\":16}},\"thumb\":{\"url\":\"https://images.genius.com/avatars/thumb/f2506af1d94e2100870fd2ce95a5a5fa\",\"bounding_box\":{\"width\":32,\"height\":32}},\"small\":{\"url\":\"https://images.genius.com/avatars/small/f2506af1d94e2100870fd2ce95a5a5fa\",\"bounding_box\":{\"width\":100,\"height\":100}},\"medium\":{\"url\":\"https://images.genius.com/avatars/medium/f2506af1d94e2100870fd2ce95a5a5fa\",\"bounding_box\":{\"width\":300,\"height\":400}}},\"header_image_url\":\"https://images.genius.com/e5261e7c4fc42dc7ce5af6e80e1cfb21.1000x625x1.jpg\",\"human_readable_role_for_display\":\"Staff\",\"id\":17955726,\"iq\":399040,\"login\":\"Reece\",\"name\":\"Not
        Reece\",\"role_for_display\":\"staff\",\"url\":\"https://genius.com/Reece\",\"current_user_metadata\":{\"permissions\":[],\"excluded_permissions\":[\"follow\"],\"interactions\":{\"following\":false}}}}],\"cosigned_by\":[],\"rejection_comment\":null,\"verified_by\":null}]},\"featured_artists\":[],\"lyrics_marked_complete_by\":null,\"lyrics_marked_staff_approved_by\":null,\"media\":[{\"provider\":\"youtube\",\"start\":0,\"type\":\"video\",\"url\":\"https://www.youtube.com/watch?v=ayIZ1plv65I\"}],\"primary_artist\":{\"api_path\":\"/artists/3056290\",\"header_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"id\":3056290,\"image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"SQUALAY
        (YouTube)\",\"url\":\"https://genius.com/artists/Squalay-youtube\"},\"primary_artists\":[{\"api_path\":\"/artists/3056290\",\"header_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"id\":3056290,\"image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"SQUALAY
        (YouTube)\",\"url\":\"https://genius.com/artists/Squalay-youtube\"}],\"producer_artists\":[{\"api_path\":\"/artists/3056290\",\"header_image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"id\":3056290,\"image_url\":\"https://filepicker-images.genius.com/1qr9nyk7u0j\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"SQUALAY
        (YouTube)\",\"url\":\"https://genius.com/artists/Squalay-youtube\"}],\"song_relationships\":[{\"relationship_type\":\"samples\",\"type\":\"samples\",\"url\":null,\"songs\":[]},{\"relationship_type\":\"sampled_in\",\"type\":\"sampled_in\",\"url\":null,\"songs\":[{\"annotation_count\":0,\"api_path\":\"/songs/9060121\",\"artist_names\":\"Joseph
        James (DJ)\",\"full_title\":\"Everything: 2022 Megamix by\_Joseph\_James (DJ)\",\"header_image_thumbnail_url\":\"https://images.genius.com/42968538b6b15721919dd05b61d8b7f0.300x169x1.jpg\",\"header_image_url\":\"https://images.genius.com/42968538b6b15721919dd05b61d8b7f0.1000x563x1.jpg\",\"id\":9060121,\"lyrics_owner_id\[...]
- request:
    body: null
    headers:
      application:
      - LyricsGenius
    method: GET
    uri: https://genius.com/Squalay-youtube-rich-flex-by-drake-and-21-savage-but-its-just-my-voice-lyrics
  response:
    body:
      string: "<!doctype html>\n<html>\n  <head>\n    <meta itemprop=\"cf-country\"
        content=\"AR\">\n    <meta itemprop=\"long-tail-cache\" content=\"XX\">\n
        \   <meta itemprop=\"cf-cache-status\" content=\"REVALIDATED\">\n    <meta
        itemprop=\"rendered-with-cache\" content=\"false\">\n    <meta itemprop=\"cf-latitude\"
        content=\"-34.65072\">\n    <meta itemprop=\"cf-longitude\" content=\"-59.43143\">\n\n
        \   <title>SQUALAY\_(YouTube) \u2013 RICH FLEX by DRAKE AND 21 SAVAGE but
        its just my voice Lyrics | Genius Lyrics</title>\n\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta content='width=device-width,initial-scale=1'
        name='viewport'>\n  <meta name=\"apple-itunes-app\" content=\"app-id=709482991\">\n<link
        href=\"https://assets.genius.com/images/apple-touch-icon.png?1766594224\"
        rel=\"apple-touch-icon\" />\n\n\n  <link href=\"https://assets.genius.com/images/apple-touch-icon.png?1766594224\"
        rel=\"apple-touch-icon\" />\n\n\n  <!-- Mobile IE allows us to activate ClearType
        technology for smoothing fonts for easy reading -->\n  <meta http-equiv=\"cleartype\"
        content=\"on\">\n\n\n\n<META name=\"y_key\" content=\"f63347d284f184b0\">\n\n<meta
        property=\"og:site_name\" content=\"Genius\"/>\n<meta property=\"fb:app_id\"
        content=\"265539304824\" />\n<meta property=\"fb:pages\" content=\"308252472676410\"
        />\n\n<meta name=\"format-detection\" content=\"telephone=no\">\n\n<link title=\"Genius\"
        type=\"application/opensearchdescription+xml\" rel=\"search\" href=\"https://genius.com/opensearch.xml\">\n\n
        \     <script>\n    (function() {\n      con[...]
